@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #fff;
    user-select: none;
}

/* General */

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
}

/* General Ends */

nav{
    position: relative;
    height: 4.5rem;
}

.bg{
    background: #ffb3d9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 78%;
    background-color: rgba(0,0,0,0.1);
}



.logo{
    position: absolute;
    top: 0;
    left: 1.5ch;
    
    margin: 1ch 0.5ch 0.5ch 1ch;
    
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    height: 100%;

    transition: .3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-items{
    position: absolute;
    right: 0;
    top: 0;
    
    margin: 0.5ch 3ch 0.5ch auto;

    height: 100%;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 1.1rem;

    border-bottom: 1px solid;
}



.nav-items li{
    margin: auto 5px;
    height: 100%;

    display: flex;
    align-items: center;
}

.nav-items li a{
    
    width: 100%;
    border-radius: 20px;
    padding: 5px 20px;
}

.nav-items li a:hover, 
.nav-items a:hover i{
    background: #fff;
    color: #000;
}

.nav-items .drop-down{
    position: relative;

}

.nav-items .nav-list{
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 110%;
    left: 0;

    border-radius: 5%;
    border-top: 5px solid #fff;
    background: #ff99cc;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.nav-items li:hover > ul{
    visibility: visible;
    opacity: 1;

    top: 90%;
    
    transition: 0.4s ease-out;
    z-index: 1000;
}

.nav-items .drop-down ul li:first-child
{
    padding-top: 20px;
}

.nav-items .drop-down ul li:last-child
{
    padding-bottom: 20px;
}


.show, input.toggle, .icon{
    display: none;
}

@media (max-width: 1050px){
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 7%;
        top: 20px;
        cursor: pointer;
        transform: scale(2);
    }
    
    .nav-items li a, .logo a{
        width: auto;
        margin: 5px 0;
    }

    nav ul li:first-child{
        padding-top: 30px;
    }

    nav ul li:last-child{
        padding-bottom: 30px;
    }

    nav .nav-items{
        position: relative;
        display: block;
        width: 100%;
        font-size: 1.5rem;
    }

    .bg::before{
        content: none;
    }

    nav{
        height: auto;
        overflow: hidden;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .logo{
        position: relative;
        margin: 0;
        padding: 0;
        padding-top: 5px;
        left: 0;
        padding-left: 1.5ch;
        transition: 0.5s ease;
    }

    .nav-items .nav-list{
        position: relative;

    }

    .nav-items li{
        flex-direction: column;
    }

    .nav-items .nav-list{
        position: relative;

        opacity: 1;
        visibility: visible;


        border-radius: 0%;
        border-top: none;
        background: none;

        top: 0%;
        box-shadow: none;
    }

    .nav-items li:hover > ul{
        top: 0%;
    }


    .show{
        display: block;
    }

    .nav-list{
        display: none;
    }
    
    .show + a, ul.nav-items{
        display: none;
    }

    [id^=btn]:checked + ul{
        display: block;
    }
    
}

