section.sec{
    position: relative;
    min-height: 93vh;
    padding: 7% 10% 8% 7%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.content{
    position: relative;
    /* display: flex; */
    /* background: red; */
}

.content .textBox{
    max-width: 50%;
    margin: 3% 5%;
    height: 100%;
    /* background: green; */
}

.content .textBox h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
}

.content .textBox p{
    font-size: 1.15rem;
    margin: 30px 0;
}

.content .textBox a{
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em 2em;
    user-select: none;
    text-decoration: none;
    border-radius: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s ease-out;
    background: #ff4da6;
    box-shadow: 0 0 20px #ff4da6;

}

.content .textBox a:hover{
    transform: scale(1.25);
}


.content .imgBox{
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1% 0% 3%;
    /* background: yellow; */
}

.content img{
    max-width: 26ch;
    /* transform: rotate(-10deg); */
    transform: rotate(-10deg);
    transition: 0.5s ease-in-out;
}

.content img:hover{
    transform: rotate(0deg);
}

/* Extra Large Devices */
@media (min-width: 2000px){
    .content img{
        max-width: 30ch;
    }
    .content .imgBox{
        right: 7%;
    }
}


/* Mobile Deivces */
@media (max-width: 1100px){
    section.sec{
        padding: initial;
        padding: 3% 0;
        height: auto;
    }

    .content{
        flex-direction: column;
    }

    .content .textBox{
        max-width: 100%;
        margin: 10% 5%;
    }

    .content .imgBox{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;

    }
}


