.bg{
    background-color: #03a9f4;
    transition: 0.5s;
}

.bg::before{
    content: none;
}

nav .nav-items{
    border-bottom: none;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#03a9f4;
    transition: 0.5s;
}

.body.active{
    background-color: #f464f4;
}


.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.bluebg{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.bluebg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bluebg .box h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.bluebg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.bluebg .box button.signupBtn{
    color: #03a9f4;
}

.bluebg .box button.signinBtn{
    color: #f464f4;
}


.formBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
}

.formBx.active{
    left: 50%;
}

.formBx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .signinForm{
    transition-delay: 0.25s;
    /* display: block; */
}

.formBx.active .signinForm{
    left: -100%;
    transition-delay: 0s;
    /* display: none; */
}

.formBx .signupForm{
    left: 100%;
    transition-delay: 0s;
    /* display: none; */
}

.formBx.active .signupForm{
    left: 0%;
    transition-delay: 0.25s;
    /* display: block; */
}

.formBx .form form h3{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}

.formBx .form form input[type="submit"]{
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}

.formBx.active .signupForm input[type="submit"]{
    background: #f464f4;
}


.formBx .form form .forgot{
    color: #333;
}

/* message Failure Starts here */

body{
    overflow: hidden;
}

.message_failure{
    position: absolute;
    top: 5px;
    right: 10px;
    margin-left: 10px;
    background-color: #f6e58d;
    border-radius: 5px;
    border-left: 6px solid #e0b106;
    display: flex;
    overflow: hidden;
    z-index: 10000;
}

.message_failure.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.message_failure.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide{
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(150%);
    }
}

.errors{
    display: flex;
}

.cross{
    position: relative;
    font-size: 30px;
    color: #e0b106;
    padding-left: 20px;
}

.cross i{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg{
    font-size: 1rem;
    margin: 0 25px;
    padding: 20px 20px;
}

/* errorlist class coming from django variable */
.errorlist > li{
    list-style-type: none;
    font-weight: bold;
    padding: 5px 0;
    color: #ae8904;
    text-transform: capitalize;
}

.errorlist  li > ul > li{
    list-style-type: disc;
    font-weight: normal;
    padding: 0;
    text-transform: none;
}

/* errorlist modification ends here */

.close:hover{
    background-color: #c79d05;
    color: #957604;
}

.close{
    padding: 20px 20px;
    background-color: #f9c406;
    font-size: 30px;
    color: #e0b106;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* message Failure Ends here */



@media (max-width: 991px){
    .container{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .bluebg{
        top: 0;
        height: 100%;
    }

    .formBx{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }

    .bluebg{
        position: relative;
    }

    .bluebg .box{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .bluebg .signin{
        top: 0;
    }
    
    .formBx.active{
        top: 150px;
        left: 0;
    }
    
}
