<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Fonts awesome cdn -->
    <script src="https://kit.fontawesome.com/d4c395f981.js" crossorigin="anonymous"></script>

    <!--CSS HERE-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/baseStyle.css' %}">

    {% block css %}{% endblock css %}

</head>

<body>
    <!--Navbar starts HERE-->
    <header>
        <nav>
            <div class="bg"></div>

            <div class="logo"><a href="" data-hover="FoodiesFootstepsBakery">FFBakery</a></div>
            <label for="btn" class="icon">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="btn">

            <ul class="nav-items">

                <li class="item">
                    <a href="{% url 'home' %}" class="{% block activeHome %}{% endblock activeHome %}">Home</a>
                </li>

                <li class="item drop-down">
                    <label for="btn-1" class="show">Categories <i class="fas fa-caret-down"></i></label>
                    <a>Categories <i class="fas fa-caret-down"></i></a>
                    <input class="toggle" type="checkbox" id="btn-1">
                    <ul class="nav-list">
                        <div class="bg"></div>
                        <div class="lists">
                            {% block categories %}{% endblock categories %}
                        </div>
                    </ul>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="item drop-down">
                        <label for="btn-2" class="show">Welcome, {{request.user.username|capfirst}} <i class="fas fa-caret-down"></i></label>
                        <a>Welcome, {{request.user.username|capfirst}} <i class="fas fa-caret-down"></i></a>
                        <input class="toggle" type="checkbox" id="btn-2">
                        <ul class="nav-list">
                            <div class="bg"></div>
                            <div class="lists">
                                <li>
                                    <li class="item"><a href="{% url 'logout' %}">Logout</a></li>
                                </li>
                            </div>
                        </ul>
                    </li>
                {% else %}
                    <li class="item"><a href="{% url 'login' %}" class="{% block activeLogin %}{% endblock activeLogin %}">Login / SignUp</a></li>
                {% endif %}
                <li><a href="{% url 'cart' %}" class="{% block activeCart %}{% endblock activeCart %}"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>

    {% if messages %}
    <ul class="allMsg">
        {% for message in messages %}
            <li class="messageBox {{message.error}}" id="messageBox{{forloop.counter}}">
                <div class="messages">
                    <span>{{message}}</span>
                </div>
                <div class="closeMessage" id="closeMessage{{forloop.counter}}">
                    <i class="fas fa-times"></i>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <!--Navbar ends HERE-->


    <!--Content  HERE-->
    {% block content %}{% endblock content %}



    <!--JS HERE-->
    <script>
        {% for message in messages %}
            const closeMsg{{forloop.counter}} = document.getElementById('closeMessage{{forloop.counter}}');
            const messageBox{{forloop.counter}} = document.getElementById('messageBox{{forloop.counter}}');
            
            closeMsg{{forloop.counter}}.onclick = function(){
                messageBox{{forloop.counter}}.classList.add('hide');
                } 
        {% endfor %}
        
    </script>
    
    {% block js %}{% endblock js %}

</body>
    
</html>