{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% load static %}

{% block activeContact %}active{% endblock activeContact %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contactStyle.css' %}">
{% endblock css %}

<!--Category List Here-->
{% block categories %}
{% for cat in category %}
<li><a href="/category/{{cat.category}}">{{cat.category}}</a></li>
{% endfor %}
{% endblock categories %}


{% block content %}
<section>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        {{form.first_name}}
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        {{form.last_name}}
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        {{form.email}}
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        {{form.phone_no}}
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        {{form.query}}
                        <span>Write your query here..</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </div>
        </form>

        <div class="contactinfo">
            <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fas fa-map-marked-alt"></i></span>
                        <span>Mayur Vihar Phase-1, Delhi</span>
                    </li>
                    <li>
                        <a href="mailto:mithisingh1403@gmail.com" target="_blank">
                            <span><i class="far fa-envelope"></i></span>
                            <span>mithisingh1403@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:917289963485">
                            <span><i class="fas fa-phone-alt"></i></span>
                            <span> +91-9810652472</span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="sci">
                <li><a href="https://www.facebook.com/FoodiesFootsteps-Bakery-105744934908208/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://wa.me/917289963485" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/foodiesfootstepsbakery/?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>

        </div>



    </div>
</section>
{% endblock content %}
