{% extends 'base.html' %}

{% block title %}FFBakery{% endblock title %}

{% load static %}

{% block activeHome %}active{% endblock activeHome %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
{% endblock css %}


{% block categories %}
{% for cat in category %}
<li><a href="">{{cat.category}}</a></li>
{% endfor %}
{% endblock categories %}


{% block content %}

<section class='sec'>
    <div class="bg"></div>
    <div class="content">
        <div class="textBox">
            <h2>Eat Home Baked 100% Eggless Cakes</h2>
            <p>We deal in Premium home baked cakes made with extra love and hygiene. Our promise is to use superior quality ingredients to make your sugary celebration more special. We have a vast menu starting right from Choco balls to Cup Cakes, Cakes, CakeSickles and what not!
            </p>

            <a href="#" class="btn Ahover">Go To Shop Now</a>
        </div>
        <div class="imgBox">
            <img src="/media/{{carousels.0.TransparentImage}}" onclick="changeBgColor('{{carousels.0.LightBackgroundColor}}','{{carousels.0.DarkBackgroundColor}}')">
        </div>
    </div>



    <ul class="thumb">
            {% for carousel in carousels %}
                <li class="thumblist" data-text="{{carousel.DisplayName}}">
                    <img src="/media/{{carousel.TransparentImage}}" onclick="imgSlider('{{carousel.TransparentImage}}');changeBgColor('{{carousel.LightBackgroundColor}}','{{carousel.DarkBackgroundColor}}')" alt="">
                </li>
            {% endfor %}
    </ul>

</section> 


{% endblock content %}


{% block js %}
    {% load static %}
    <script>
        document.onreadystatechange = function () {
            if (document.readyState == "interactive") {
                changeBgColor('{{carousels.0.LightBackgroundColor}}','{{carousels.0.DarkBackgroundColor}}')

            const activeThumb = document.querySelector('.thumblist');
            activeThumb.classList.add('active');
        
            const thumb = document.querySelector('ul.thumb');
            console.log(thumb)
            
            }
        }
    </script>
    
    <script src="{% static 'js/homeScript.js' %}"></script>

{% endblock js %}
