.bg{
    background-color: rgb(11, 1, 56);
}

.bg::before{
    content: none;
}

.body{
    background-color: #e6f2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255,255,255,0.6); */
    background-blend-mode: soft-light;
    color: #fff;
    /* background: rgb(11, 1, 56); */
}

.textBox{
    margin: auto 15ch 30ch;
}

.imgBox{
    width: 50%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5% 0;
}

.imgBox img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 40px rgba(0,0,0, 0.3);
}

.para{
    margin: 1px 50px;
    font-family: Poppins;
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: rgb(11, 1, 56);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4ch;
}

.heading{
    letter-spacing: 0.15ch;
    padding-bottom: 30px;
    font-family: Poppins;
    margin: 50px 50px 1px;
    font-size: 2.5rem;
    border-bottom: 1px solid #fff;
    font-weight: 800;
    background-color: rgb(11, 1, 56);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5ch;
}

@media (max-width: 991px){
    .textBox{
        margin: auto 2ch 10ch;
    }
}

@media (max-width: 440px){
    .textBox{
        /* margin: auto 0ch 7ch; */
        margin: inherit auto;
    }

    .heading{
        margin: auto;
        margin-top: 3.5ch;
        padding: 1ch;
        font-size: 2rem;
    }
    
    .para{
        margin: auto;
        padding: 2ch;
        font-size: 1rem;
    }
}